/*
*** Colors
*/

$main-bg: rgb(235, 235, 225);
$main-text: #43425d;
$secondary-text: #52575d;
$input-color: #4d4f5c;
$button-bg: #43425d;
$button-text: #4d4f5c;
$button-border: #43425d;
$white: #fff;
$black: #000;

$input-border: #808495;

/*
*** Fonts
*/

$default-font-size: 10px;
$primary-font: 'Roboto', sans-serif;
